.login-back-color{
    // background-color: bisque;
    height: $full-height-and-width;
    width: $full-height-and-width;
    
}
.form-box{
    width: 300px;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: auto;
}