@import "./sassConfig.scss";
@import "./normalize.scss";
//全局样式
html{
    height: $full-height-and-width;
    width: $full-height-and-width;  
}
body{
    @extend html; 
    background-color: #001529;; 
}   
#root{
    @extend body;
    text-align: center;
}